h1{
	background-color: #26b3ff;
	text-align: center;
  padding: 30px;
}

#PongP{
	text-align: center;
  background: white;
	margin-top: 20px;
}

#about{
  color: blue;

}

#PongP2{
  background: white;
}

.sidenav a {
    font-size: 18px;
    color: black;
    display: block;
    padding: 3px;
}
