h1{
	background-color: #26b3ff;
	text-align:center;
  padding: 50px;
	padding-left: -10px;
	padding-right: -10px;
}

#PongP{
	text-align: center;
  background: green;
	margin-top: 20px;
}

#about{
  color: blue;
	padding-bottom: 30px;

}

#PongP2{
  background: white;
}

.sidenav a {
    font-size: 18px;
    color: black;
    display: block;
    padding: 3px;
}

.container-fluid{
  background-color: lightblue;
}
.col-md-9{
	background-image: url(../images/Woolsey-Outdoor-Ping-Pong-Table-01.jpg);
	background-size: contain;
}
h1, h2 , p, ul , li, label {
	color: white;
}
